<div class="container contact-form" style="overflow: hidden;">

  <h5 class="text-center mt-4" style="color: #5377f8b0;">Create a Member <span class="text-primary">{{code}}</span></h5>
  <div class="container contact-form">

    <form [formGroup]="myForm" (submit)="Submit()">
      <div class="row">
        <div class="col-md-6">
          
          
          <div class="form-group" style="height: 72px;">
            <label for="identity" class="lb" >Identity Type:</label>
            <select class="form-select" aria-label="Default select example" formControlName="identity">
              <option value="{{identity.CIN}}" selected>{{identity.CIN}}</option>
              <option value="{{identity.PASSPORT}}" >{{identity.PASSPORT}}</option>
              <option value="{{identity.CARTE_RESIDENCE}}" >{{identity.CARTE_RESIDENCE}}</option>
            </select>
          </div>
         
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="identityNumber" class="lb" >Identity Number:</label>
            <input type="text" formControlName="identityNumber" class="form-control" placeholder="Enter Identity Number" />
          </div>
          <!-- <div class="form-group">
            <label for="competitionCode" class="lb" >Competition Code:</label>
            <input type="text" formControlName="competitionCode" class="form-control" placeholder="Enter Competition Code" />
          </div> -->
        </div>
      </div>
      <div class="form-group text-end mt-5">
        <input type="submit" name="btnSubmit" class="btnContact" value="Add Member" />
      </div>
    </form>

  </div>

</div>
