<div class="px-5 pt-3">



  <div class="addCompetition d-flex justify-content-between my-2">
    <h5>Members </h5> 
    <fa-icon routerLink="/dashbord/podium/{{competitioncode}}"   [icon]="podium"  class="fs-4"  />
    <fa-icon [icon]="facofe" class="fs-4" (click)="openDialog()" ></fa-icon>
  </div>
  <!-- memberCard -->
  <div class="row ">

    <div class="col-lg-4 col-sm-12 col-md-6  mb-4 " *ngFor="let member of members">
      <div class="card mb-4" style="width: 220px;">
        <div class="card-body text-center ">
          <div class="d-flex justify-content-between p-2">
    
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 50px;">
            <div>
              <p class="my-1">{{member.name}} {{member.familyName}}</p>
              <p class="text-muted mb-1">{{member.nationality  }}</p>
            </div>  
          </div>
          <div>
            <div class="d-flex justify-content-between">
              <p  class="text-muted mb-1">{{member.identity }}</p>
              <p>{{member.identityNumber}}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p  class="text-muted mb-1">Date</p>
              <p>{{member.accessionDate}}</p>
            </div>
    
          </div>
          <div class="d-flex justify-content-center mb-1">
            <button type="button" class="btnContactSubmit" (click)="openDialogHunting(member.num)" >Add Hunting</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- memberCard -->

</div>    

        <mat-paginator [length]=totalPage
                [pageSize]="1"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
                (page)="onPageChange($event)">
        </mat-paginator>

  